/* GENERAL STYLES */

@font-face {
	font-family: 'icomoon';
	src: url('icomoon.ttf');
}

body {
	background: #eee;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.extended-container {
	position: relative;
	background: #fff;
	margin-top: 100px;
	padding-bottom: 100px;
}

.custom-nav {
	background: #C81C1C;
	color: #fff;
	font-size: 28px;
	height: 70px;
	line-height: 70px;
	position: absolute;
	left: 0%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: 'Raleway', sans-serif;
}

.custom-nav-fixed {
	position: fixed;
	top: 0%;
	left: 50%;
	z-index: 300;
	transform: translateX(-50%);
	margin: 0px;
	border-radius: 0px;
}

#customNavLogo {
	font-size: 36px;
	margin-left: 15px;
}

.custom-nav-icon {
	font-size: 32px;
	margin-left: 5px;
	margin-right: 15px;
	color: #fff;
}

.custom-nav-icon:hover {
	color: #ddd;
	cursor: pointer;
}

.mobile-nav {
	display: none;
}

.first-row {
	margin-top: 70px;
}


/* INDEX-SPECIFIC STYLES */

.mobile-title-bar {
	display: none;
}

#fullStackHeader {
	margin-top: 60px;
}

.portfolio-header {
	font-weight: 300;
	margin-top: 60px;	
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.projects-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.project-caret {
	display: none;
}

.project-wrapper {	
	flex: 1;
}

.project {	
	position: relative;
	text-align: center;
	height: 300px;
	width: 300px;
	margin: 10px auto 30px;
	overflow: hidden;
	border-radius: 5px;
}

.project img {	
	transition: transform 0.275s ease-out;
	height: 300px;
	width: 300px;
}

.project:hover img {
	transform: scale(1.05);
}

.project-overlay {
	position: absolute;
	left: 0; 
	right: 0;
  top: 0; 
  bottom: 0;
	background: rgba(1, 1, 1, 0.7);
	color: #fff;
	opacity: 0;
	transition: opacity 0.275s ease-out;
}

.project:hover .project-overlay {
	opacity: 1;
	cursor: pointer;
}

.project-overlay h2 {
	font-weight: 300;
	font-size: 32px;	
	padding-left: 5px;
	padding-right: 5px;
	transform: translateY(50px);
	transition: transform 0.32s ease-out;
}

.project:hover .project-overlay h2 {
	transform: translateY(25px);
}

.project-tags {
	transform: translateY(155px);
	transition: transform 0.32s ease-out;
	font-weight: 300;
	padding-left: 5px;
	padding-right: 5px;
}

.project-overlay:hover .project-tags {
	transform: translateY(130px);
}

.project-tags div {
	display: inline-block;
	border-radius: 12px;
	background: #73AB12;
	font-size: 16px;
	padding: 3px 10px;
	padding-top: 1px;
	margin: 5px 1px;
}

.short-tag-list {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 60%;
}

.long-tag-list {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 49%;
}

.construction-message {
	font-weight: 300;
	transition: transform 0.32s ease-out;
	transform: translateY(75px);
}

.project-overlay:hover .construction-message {
	transform: translateY(50px);
}

.origin-top-left {	
	transform-origin: top left;
}

.origin-top {
	transform-origin: top;
}

.origin-top-right {
	transform-origin: top right;
}

.origin-left {
	transform-origin: left;
}

.origin-right {
	transform-origin: right;
}

.origin-bottom-left {
	transform-origin: bottom left;
}

.origin-bottom {
	transform-origin: bottom;
}

.origin-bottom-right {
	transform-origin: bottom right;
}


/* ABOUT-SPECIFIC STYLES */

.personal-links {
	text-align: left;
	padding-top: 25px;
	padding-left: 5px;
}

.personal-links a {	
	color: #444;
	font-family: 'icomoon';
	font-size: 56px;
	padding-left: 3px;
	text-decoration: none;
}

.personal-links a:hover {
	color: #333;
	cursor: pointer;
	text-decoration: none;
}

#eduCol {
	padding-left: 20px;
}

.about-col h1 {
	font-weight: 300;
	margin-top: 20px;	
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.info-caret {
	display: none;
}

.about-col h2 {
	font-size: 32px;
	font-weight: 300;
	border-bottom: 1px solid #ccc;
	padding-bottom: 12px;
	display: inline-block;
	width: 60%;
}

.about-col h3 {
	margin-top: 15px;
	font-size: 28px;
	font-weight: 300;
}

#awardsHeader {	
  margin-top: 34px;
  margin-bottom: 20px;
}

.about-col h4 {
	font-size: 17px;
	font-weight: bold;
}

.about-col p {
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 25px;
}

.show-more {
	cursor: pointer;
}

.show-more:hover {
	color: #111;
	border-bottom: 1px solid #aaa;
}

.show-more span {
	font-size: 24px;
}

.show-more-sub {
	margin-bottom: 10px;
  margin-top: 15px;
}

.about-col ul {
	padding: 0px;
	margin-bottom: 40px;	
	list-style: none;
}

.about-col li {
	font-weight: 400;
	font-size: 18px;
	padding: 3px 0px;
}


/* PROJECT SUMMARY SPECIFIC STYLES */

.project-col {
	padding-top: 50px;
}

.project-col h1 {
	font-weight: 300;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	width: 70%;
}

.project-description {
	padding-right: 50px;
}

.project-description span:first-child {
	font-weight: bold;
}

.project-col p {
	font-size: 18px;
	margin-top: 30px;
	font-weight: 400;
}

.project-col img {
	margin-bottom: 25px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.na-thumbnail {
	background: #ccc;
	width: 350px;
	height: 350px;
	margin: 0 auto;
}

.na-thumbnail div {
	font-size: 92px;
	line-height: 350px;	
	text-align: center;
}

.project-btn-container {
	margin-top: 45px;
}

.code-btn {
	background: #117878;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
}

.code-btn:hover {
	background: #066262;
	color: #fff;
}

.code-btn:active, .code-btn:focus {
	background: #004D4D;
	color: #eee;
}

.live-btn {
	background: #85BB1A;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
}

.live-btn:hover {
	background: #699909;
	color: #fff;
}

.live-btn:active, .live-btn:focus {
	background: #507800;
	color: #eee;
}


/* MEDIA QUERIES */

/* Medium Styles */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Small Styles */
@media (min-width: 768px) and (max-width: 991px) {

	/* INDEX-SPECIFIC STYLES */

	/* PROJECT SUMMARY SPECIFIC STYLES */
	.project-col img, .na-thumbnail {
		width: 250px;
		height: 250px;
	}

	.na-thumbnail div {
		line-height: 250px;
	}
}

/* Extra Small Styles */
@media (max-width: 767px) {
	/* GENERAL STYLES */

	body {
		background: #fff;
	}

	.extended-container {
		margin-top: 0px;
	}

	.custom-nav {
		display: none;
	}

	.mobile-nav {	
		background: #C81C1C;
		font-size: 0px; /* removes whitespace between inline-block nav options */
		font-family: 'Raleway', sans-serif;
		height: 55px;
		line-height: 55px;
		display: block;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 300;
		border-radius: 0px;
	}

	.mobile-nav a {
		color: #fff;
		font-size: 24px;
		width: 50%;
		display: inline-block;
		text-align: center;
		text-decoration: none;
	}

	.mobile-nav a:first-child {		
		border-right: 1px solid #A81818;
	}

	.mobile-nav a:active {
		color: #ddd;
	}

	.first-row {
		padding: 0px;
		margin-top: 0px;
	}


	/* INDEX-SPECIFIC STYLES */

	.mobile-title-bar {
		display: block;
		position: absolute;
    left: 0;
    right: 0;
    height: 77px;
    text-align: center;    
    font-family: Raleway;
    font-size: 39px;    
    line-height: 77px;
    background: #ddd;    
	}

	#fullStackHeader {
		margin-top: 98px;
	}

	.portfolio-header {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 28px;
		cursor: pointer;
		text-align: center;
	}

	.project-caret {
		display: inline;
		font-size: 18px;
		color: #444;
	}

	.collapsed-fullstack-section,
	.collapsed-react-section,
	.collapsed-backend-section,
	.collapsed-frontend-section {
		max-height: 0px;
		overflow: hidden;
	}

	.expanded-fullstack-section {
		max-height: 950px;
	}

	.expanded-react-section {
		max-height: 1850px;
	}

	.expanded-backend-section {
		max-height: 1550px;
	}

	.expanded-frontend-section {
		max-height: 2200px;
	}

	.project {
		height: 260px;
		width: 260px;
		margin-bottom: 5px;
	}

	.project:last-child {
		margin-bottom: 30px;
	}

	.project img {
		height: 260px;
		width: 260px;
	}

	.project-overlay {
		opacity: 1;
		background: rgba(0, 0, 0, 0.6);
		padding-left: 10px;
		padding-right: 10px;
	}

	.project-overlay h2 {
		font-size: 26px;
	}

	.project:hover .project-overlay h2 {
		transform: translateY(50px);
	}

	.project-tags {
		transform: translateY(115px);	
	}

	.project-overlay:hover .project-tags {
		transform: translateY(115px);
	}

	#wikiTagList {
		transform: translateY(145px);
	}

	.project-overlay:hover #wikiTagList {
		transform: translateY(145px);
	}


	/* ABOUT-SPECIFIC STYLES */
	
	.personal-links {
		display: none;
	}

	.tab-container {
		background: #ddd;
		font-size: 0px; /* removes whitespace between inline-block tabs */
		height: 60px;
	}

	.tab {
		display: inline-block;		
		height: 100%;
		padding-top: 12px;
		font-size: 24px;
		text-align: center;
		width: 50%;
		color: #333;
		transition: 0.2s ease-out;
	}

	.active-tab {
		border-bottom: 8px solid #fff;
	}

	.about-col {
		padding-top: 15px;
		display: none;
	}

	#eduCol {
		padding-left: 15px;
	}

	.active-col {
		display: block;
	}

	.mobile-links {
		text-align: right;
		font-size: 42px;
		padding-left: 5px;
	}

	.mobile-links a {
		font-family: 'icomoon';
		margin-left: -3px;
		text-decoration: none;
		color: #555;
	}

	.about-col h2 {
		width: 100%;
		font-size: 28px;
		margin-top: 5px;
	}

	#eduCol h2 {
		font-size: 26px;
	}

	#skillsCol h2 {
		font-size: 24px;
	}

	.about-col h3 {
		font-size: 22px;
		margin-top: 5px;
	}	

	.about-col h4 {
		font-size: 18px;
		font-weight: 400;
	}

	.about-col p {
		font-size: 17px;
		font-weight: 300;
	}

	#awardsHeader {
		margin-top: 27px;
		margin-bottom: 14px;
	}

	.about-col ul {
		margin-bottom: 25px;
	}

	.about-col li {
		font-weight: 300;
	}


	/* PROJECT-SPECIFIC STYLES */

	.project-col {
		padding-top: 0px;
	}

	.project-col h1 {
		font-size: 32px;
		width: auto;
	}

	.project-col p {
		font-weight: 300;
	}

	.project-description {
		position: relative;
		padding-right: 0px;
		padding-top: 60px;
		margin-bottom: 45px;
	}

	.project-btn-container {
		position: absolute;
		top: 15px;
		margin-top: 0px;
	}
}