/* GENERAL STYLES */

body {
	background: #eee;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.extended-container {
	position: relative;
	background: #fff;
	margin-top: 200px;
	padding-bottom: 100px;
}

.custom-nav {
	background: #C81C1C;
	color: #fff;
	font-size: 28px;
	height: 70px;
	line-height: 70px;
	position: absolute;
	left: 0%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: 'Raleway', sans-serif;
}

.custom-nav-fixed {
	position: fixed;
	top: 0%;
	left: 50%;
	z-index: 300;
	transform: translateX(-50%);
	margin: 0px;
	border-radius: 0px;
}

#customNavLogo {
	font-size: 36px;
	margin-left: 15px;
}

.custom-nav-icon {
	font-size: 32px;
	margin-left: 5px;
	margin-right: 15px;
	color: #fff;
}

.custom-nav-icon:hover {
	color: #ddd;
	cursor: pointer;
}

.mobile-nav {
	display: none;
}

.first-row {
	margin-top: 70px;
}


/* INDEX-SPECIFIC STYLES */

.additional-row {
	margin-top: 30px;
}

#firstHeader {
	margin-top: 60px;
}

.portfolio-header {
	font-weight: 300;
	margin-top: 90px;	
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.project {
	position: relative;
	height: 300px;
	width: 300px;
	margin: 10px auto 0px;
	overflow: hidden;
	border-radius: 5px;
}

.project img {	
	transition: transform 0.275s ease-out;
}

.project:hover img {
	transform: scale(1.05);
}

.project-overlay {
	position: absolute;
	left: 0; 
	right: 0;
  top: 0; 
  bottom: 0;
	background: rgba(1, 1, 1, 0.65);
	/*background: linear-gradient(0deg, rgba(1, 1, 1, 0.35) 5%, rgba(1, 1, 1, 0.5));*/
	color: #fff;
	opacity: 0;
	transition: opacity 0.275s ease-out;
}

.project:hover .project-overlay {
	opacity: 1;
	cursor: pointer;
}

.project-overlay h2 {
	font-weight: 300;
	font-size: 32px;	
	padding-left: 5px;
	padding-right: 5px;
	transform: translateY(50px);
	transition: transform 0.32s ease-out;
}

.project:hover .project-overlay h2 {
	transform: translateY(25px);
}

.project-tags {
	transform: translateY(155px);
	transition: transform 0.32s ease-out;
	font-weight: 300;
	padding-left: 5px;
	padding-right: 5px;
}

.project-overlay:hover .project-tags {
	transform: translateY(130px);
}

.project-tags div {
	display: inline-block;
	border-radius: 12px;
	background: #82B61A;
	font-size: 16px;
	padding: 3px 10px;
	padding-top: 1px;
	margin: 5px 1px;
}

.short-tag-list {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 60%;
}

.long-tag-list {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 49%;
}

.construction-message {
	font-weight: 300;
	transition: transform 0.32s ease-out;
	transform: translateY(75px);
}

.project-overlay:hover .construction-message {
	transform: translateY(50px);
}

.origin-top-left {	
	transform-origin: top left;
}

.origin-top {
	transform-origin: top;
}

.origin-top-right {
	transform-origin: top right;
}

.origin-left {
	transform-origin: left;
}

.origin-right {
	transform-origin: right;
}

.origin-bottom-left {
	transform-origin: bottom left;
}

.origin-bottom {
	transform-origin: bottom;
}

.origin-bottom-right {
	transform-origin: bottom right;
}

/* ABOUT-SPECIFIC STYLES */

.personal-links {
	text-align: left;
	padding-top: 25px;
	padding-left: 5px;
}

.personal-links a {	
	color: #444;
	font-size: 56px;
	padding-left: 3px;
}

.personal-links a:hover {
	color: #333;
	cursor: pointer;
}

#eduCol {
	padding-left: 20px;
}

.about-col h1 {
	font-weight: 300;
	margin-top: 20px;	
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.about-col h2 {
	font-size: 32px;
	font-weight: 300;
	border-bottom: 1px solid #ccc;
	padding-bottom: 12px;
	display: inline-block;
	width: 60%;
}

.about-col h3 {
	margin-top: 15px;
	font-size: 26px;
	font-weight: 300;
}

#awardsHeader {	
  margin-top: 34px;
  margin-bottom: 20px;
}

.about-col h4 {
	font-size: 18px;
}

.about-col p {
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 25px;
}

.show-more {
	cursor: pointer;
}

.show-more:hover {
	color: #111;
	border-bottom: 1px solid #aaa;
}

.show-more span {
	font-size: 24px;
}

.show-more-sub {
	margin-bottom: 10px;
  margin-top: 15px;
}

.about-col ul {
	padding: 0px;
	margin-bottom: 40px;	
	list-style: none;
}

.about-col li {
	font-size: 18px;
	padding: 3px 0px;
}


/* PROJECT SUMMARY STYLES */

.project-col {
	padding-top: 50px;
}

.project-col h1 {
	font-weight: 300;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	width: 70%;
}

.project-description {
	margin-bottom: 45px;
	padding-right: 50px;
}

.project-col p {
	font-size: 18px;
	margin-top: 30px;
}

.project-col img {
	margin-bottom: 25px;
}

.code-btn {
	background: #117878;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
}

.code-btn:hover {
	background: #066262;
	color: #fff;
}

.code-btn:active, .code-btn:focus {
	background: #004D4D;
	color: #eee;
}

.live-btn {
	background: #85BB1A;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
}

.live-btn:hover {
	background: #699909;
	color: #fff;
}

.live-btn:active, .live-btn:focus {
	background: #507800;
	color: #eee;
}


/* MEDIA QUERIES */

/* Medium Styles */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Small Styles */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Extra Small Styles */
@media (max-width: 767px) {
	.extended-container {
		margin-top: 0px;
	}

	.custom-nav {
		display: none;
	}

	.mobile-nav {	
		background: #C81C1C;
		font-size: 24px;
		font-family: 'Raleway', sans-serif;
		height: 55px;
		line-height: 55px;
		display: block;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 300;
		border-radius: 0px;
	}

	.mobile-nav a {
		color: #fff;
		width: 48%;
		display: inline-block;
		text-align: center;
		text-decoration: none;
	}

	.mobile-nav a:active {
		color: #ddd;
	}
}